*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    body{
        display:inline;
        justify-content:center;
       background:url('zain.jpg') no-repeat ;
         background-size: 100%;
        
        
        
         
    }
    
    
    
    header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    background-color:red;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    align-items: center;
    }
    
    
    img{
       width: 50px;
       height: 45px;
       margin-left: 100px;
        margin-top: 10px;
        
    }
     a {
        position: relative;
    display:inline-block;
        color: black;
        text-decoration:none;
    
     }
      a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 3px;
        background: white;
        border-radius: 5px;
         transform:scaleX(0);  } 
    
    a:hover::before{
        transform:scaleX(1);
        color:black;
        font-size: 3.1em;
    
    }
    
    
    .navigation a{
     text-decoration: none;
     font-weight: 500;
     font-size: 1.1em;
     margin-left: 40px;
    
    
    
    }
    
    
    
    
    
    .btnlogin-popup {  
        width: 130px;
        height: 50px;
        background: transparent;
        border: 2px solid #e9e3e3;
        font-size: 1.1em;
        border-radius:6px;
        color: rgb(253, 249, 245);
        margin-left: 20px;
        cursor: pointer;
        outline: none;
        font-weight:500;
        margin-top: 10px;
    }
    .btnlogin-popup:hover{
        background: black;
        color: yellowgreen;
        font-size: 2.1em;
    }
    .form{
        align-items: center; 
        width: 250px;
        height: 340px;
        background: rgba(26, 24, 24, 0.925);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
       
    }
    .form{
        padding-left: 40px;
        padding-top: 30px;
    }
    .form h1{
        width: 200px;
    
        height: 70px;
        color:palevioletred;
        padding-left: 7px;
        font-size: 25px;
    
    }
    .form input{
        width: 100%;
        height: 40px;
        padding-top: 5px;
        margin-bottom: 12px;
        background: transparent;
        border-bottom:0.5px solid white;
        margin-right: 300px;
        right: 15px;
        position: relative;
    
    }
    
    .form h1:hover{
        color: red;
    }
    
    #checkbtn{
        float: right;
    margin-left: 35px;
    line-height: 50px;
    font-size: 30px;
    color: aliceblue;
    display:none;
    }
    #check{
       display:none;
    }

    #check:checked ~ .navigation a{

        transform: translatex(1);
        
    }
    @media(max-width:895px){  
    
       
        #checkbtn{
            display: block;
            float: none;
            margin: 10px;
            position: fixed;
            top: 10px;
            right: 10px;
            transform: translate(-50%,-50%);
           
        }
       
        .navigation  {
            position: absolute;
            font-size: 1rem;;
            top: 60px;
            left: 0px;
            width: 100%;
        text-align: center;
        padding: 10px;
        color: rgb(14, 9, 9);
        background-color: blue;
        transition: left 0.3 ease-in-out;

        }
        
        #check:checked ~ .navigation{
            left: 0;
        }
        .navigation a{
            display:inline-block;
            text-align:center;
            font-size: 1.5em;
            display: inline-block;
            transform: translatey(300%);

        }
.btnlogin-popup{

    margin-left: 10px;
    position: absolute;
    display: inline-block;
    
    margin-top: 15px;
    right:15px;
    margin-right: 60px;
    /* padding-top: 0%; */
}

.navigation{
   
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100vh;
    transition: left (0.3) ease-in-out;
    left: -100%;
}
.navigation a{

    display: block;
    text-align: center;

    font-weight:bolder;
    text-transform: capitalize;
    text-shadow:gray;
    text-decoration-thickness:calc(2rem);
    word-spacing: var(-50%);
}


    

    
 }

    
        
    
    